<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  </head>

<body>
<script type="text/javascript"> 
function validateAmount(amount){
	if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
		return true;
	}else{
		alert('You must enter a valid donation.');
		amount.focus();
		return false;
	}
}
</script>

<form action="https://sandbox.google.com/checkout/cws/v2/Donations/737921365278290/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)">
    <input name="item_name_1"  value="Donate to our Cause"/>
    <input name="item_description_1" type="hidden" value="Thank you for your contribution!"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="item_is_modifiable_1" type="hidden" value="true"/>
    <input name="item_min_price_1" type="hidden" value="2.0"/>
    <input name="item_max_price_1" type="hidden" value="25000.0"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color=&apos;black&apos;; this.value=&apos;&apos;;" size="6" type="text" value="20.00"/>
            </td>
            <td align="left" width="1%">
                <input alt="Donate" src="https://sandbox.google.com/checkout/buttons/donateNow.gif?merchant_id=737921365278290&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>
</form>
<hr />
<h3 >Donate Livestock to a family</h3>
<form action="https://sandbox.google.com/checkout/cws/v2/Donations/737921365278290/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)">
    <input name="item_name_1" type="hidden" value="Donate Livestock"/>
    <input name="item_description_1" type="hidden" value="An entire family thanks you"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="item_is_modifiable_1" type="hidden" value="true"/>
    <input name="item_min_price_1" type="hidden" value="200.0"/>
    <input name="item_max_price_1" type="hidden" value="25000.0"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    
    <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color=&apos;black&apos;; this.value=&apos;&apos;;" size="6" type="text" value="220.00"/>
            </td>
            <td align="left" width="1%">
                <input alt="Donate" src="https://sandbox.google.com/checkout/buttons/donateNow.gif?merchant_id=737921365278290&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>
</form>

<hr />
<h3 >Give to fundraise campaign (id 70170000000Hr7q)</h3>
<a  href="/70170000000Hr7q">fund raising campaign</a>
<form action="https://sandbox.google.com/checkout/cws/v2/Donations/737921365278290/checkoutForm" 
	id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" 
	onSubmit="return validateAmount(this.item_price_1)">
    <input name="item_name_1" type="hidden" value="Donate Livestock"/>
    <input name="item_description_1" type="hidden" value="An entire family thanks you"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="item_is_modifiable_1" type="hidden" value="true"/>
    <input name="item_min_price_1" type="hidden" value="20.0"/>
    <input name="item_max_price_1" type="hidden" value="25000.0"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    
 <!--  use merchant-item-id to specify a Salesforce Campaign ID  -->
    <input type="hidden" 
    	name="shopping-cart.items.item-1.merchant-item-id" value="70170000000Hr7q"/>
    	
     <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" 
            name="item_price_1" onfocus="this.style.color=&apos;black&apos;; this.value=&apos;&apos;;" 
            size="6" type="text" value="30.00"/>
            </td>
            <td align="left" width="1%">
                <input alt="Donate" src="https://sandbox.google.com/checkout/buttons/donateNow.gif?merchant_id=737921365278290&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>
</form>

<hr />
<!--  add more test buttons here -->
<form action="https://sandbox.google.com/checkout/cws/v2/Donations/737921365278290/checkoutForm" 
	id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" 
	onSubmit="return validateAmount(this.item_price_1)">
	<h3>Pet Recovery Campaign</h3>Thank you for your contribution to the pets
	<input name="item_name_1" type="hidden" value="Pet Recovery Campaign"/>
	<input name="item_description_1" type="hidden" 
		value="Thank you for your contribution to the pets"/>
	<input name="item_quantity_1" type="hidden" value="1"/>
	<input name="item_currency_1" type="hidden" value="USD"/>
	<input name="item_is_modifiable_1" type="hidden" value="true"/>
	<input name="item_min_price_1" type="hidden" value="2.0"/>
	<input name="item_max_price_1" type="hidden" value="25000.0"/>
	<input name="_charset_" type="hidden" value="utf-8"/>
	<table cellpadding="5" cellspacing="0" width="1%">
	<tr><td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" 
	 name="item_price_1" onfocus="this.style.color=&apos;black&apos;; this.value=&apos;&apos;;" size="6" type="text" value="50.00"/>
	</td><td align="left" width="1%">
	<input type="hidden" name="shopping-cart.items.item-1.merchant-item-id" value="70170000000Hrkp" />
	<input alt="Donate" src="https://sandbox.google.com/checkout/buttons/donateNow.gif?merchant_id=737921365278290&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US"
        type="image"/></td></tr>
	</table>
</form>

<form action="https://sandbox.google.com/checkout/cws/v2/Donations/737921365278290/checkoutForm" 
	id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" 
	onSubmit="return validateAmount(this.item_price_1)">
	<h3>Donate for Bihar flood</h3>Donation for Bihar Flood victms.
	<input name="item_name_1" type="hidden" value="Donate for Bihar flood"/>
	<input name="item_description_1" type="hidden" 
		value="Donation for Bihar Flood victms."/>
	<input name="item_quantity_1" type="hidden" value="1"/>
	<input name="item_currency_1" type="hidden" value="USD"/>
	<input name="item_is_modifiable_1" type="hidden" value="true"/>
	<input name="item_min_price_1" type="hidden" value="2.0"/>
	<input name="item_max_price_1" type="hidden" value="25000.0"/>
	<input name="_charset_" type="hidden" value="utf-8"/>
	<table cellpadding="5" cellspacing="0" width="1%">
	<tr><td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" 
	 name="item_price_1" onfocus="this.style.color=&apos;black&apos;; this.value=&apos;&apos;;" size="6" type="text" value="50.00"/>
	</td><td align="left" width="1%">
	<input type="hidden" name="shopping-cart.items.item-1.merchant-item-id" value="70170000000IJHU" />
	<input alt="Donate" src="https://sandbox.google.com/checkout/buttons/donateNow.gif?merchant_id=737921365278290&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US"
        type="image"/></td></tr>
	</table>
</form>
</body>
</html>